<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131507997-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-131507997-1');
    </script>

    <!--JQuery Code For Running-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>


    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>NYSDFS - BitLicense 101 - Welles | News Crypto Compliance 04 Oct 2019 | Compliance and Anti-Money Laundering
    </title>

    <meta name="keywords" content="AML, anti-money laundering, combatting terrorist financing , crypto-compliance" />
    <meta name="description"
        content="Welles offer compliance service as effort to support Anti-Money Laundering actions">
    <meta name="author" content="Welles Partners Pte Ltd">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../pic/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../pic/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../pic/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../pic/favicon-16x16.png">
    <link rel="manifest" href="../pic/site.webmanifest">
    <link rel="mask-icon" href="../pic/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="../pic/favicon.ico">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-config" content="../pic/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="../vendor/animate/animate.min.css">
    <link rel="stylesheet" href="../vendor/simple-line-icons/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="../vendor/owl.carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../vendor/owl.carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="../vendor/magnific-popup/magnific-popup.min.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="../css/theme.css">
    <link rel="stylesheet" href="../css/theme-elements.css">
    <link rel="stylesheet" href="../css/theme-blog.css">
    <link rel="stylesheet" href="../css/theme-shop.css">

    <!-- Current Page CSS -->
    <link rel="stylesheet" href="../vendor/rs-plugin/css/settings.css">
    <link rel="stylesheet" href="../vendor/rs-plugin/css/layers.css">
    <link rel="stylesheet" href="../vendor/rs-plugin/css/navigation.css">

    <!-- Demo CSS -->
    <link rel="stylesheet" href="../css/demos/demo-finance.css">

    <!-- Skin CSS -->
    <link rel="stylesheet" href="../css/skins/skin-finance.css">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="../css/custom.css">

    <!-- Head Libs -->
    <script src="../vendor/modernizr/modernizr.min.js"></script>

    <!-- STYLLE LOADER -->
    <link href="../loader/loader.css" rel="stylesheet" />
</head>

<body>
    <div id="wrapperLoader">
        <div id="loading">
            <div id="neZnam">
                <div class="logoIndex">
                    <!--<div class="loader">Loading...</div>-->
                    <a href="../index.html">
                        <img alt="Welles Finance" width="300" height="90" src="../loader/LogoWelles.svg">
                    </a>
                </div>

                <div class="spinnerBox">
                    <div class="spinner-item"></div>
                    <div class="spinner-item"></div>
                    <div class="spinner-item"></div>
                </div>
                <div id="loaderEtc">
                    <p style="font-size: 20px;">Loading...</p>
                </div>

            </div>
        </div>
    </div>

    <header id="header" class="header-effect-shrink"
        data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyChangeLogo': true, 'stickyStartAt': 30, 'stickyHeaderContainerHeight': 70}">
        <div class="header-body border-0">
            <div class="header-container container">
                <div class="header-row">
                    <div class="header-column">
                        <div class="header-row">
                            <div class="header-logo">
                                <a href="../index.html">
                                    <img alt="Welles Finance" width="150" height="45" src="../pic/LogoWelles.svg">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="header-column justify-content-end">
                        <div class="header-row">
                            <div class="header-nav header-nav-links order-2 order-lg-1">
                                <div
                                    class="header-nav-main header-nav-main-square header-nav-main-effect-2 header-nav-main-sub-effect-1">
                                    <nav class="collapse">
                                        <ul class="nav nav-pills" id="mainNav">
                                            <li>
                                                <a class="nav-link" href="../index.html">
                                                    Home
                                                </a>
                                            </li>
                                            <li class="dropdown">
                                                <a class="dropdown-toggle" href="#">
                                                    About Us &nbsp;&nbsp;&nbsp;&nbsp;
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="../contact-us.html">CONTACT</a></li>
                                                    <li><a href="../company.html">COMPANY</a></li>

                                                </ul>
                                            </li>
                                            <li class="dropdown">
                                                <a class="dropdown-toggle" href="#">
                                                    DEVELOPMENT &nbsp;&nbsp;&nbsp;&nbsp;
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="../crypto-compliance.html">C3 SOLUTION</a></li>
                                                    <li><a href="https://app.welles.sg">App C3 &nbsp; [ &nbsp; <span
                                                                style="font-size: 20px;"><i
                                                                    class="fab fa-aws"></i>&nbsp; </span> ]</a></li>
                                                    <li><a href="../blockchain.html">BLOCKCHAIN C3</a></li>
                                                    <li><a href="../faq.html">FAQ C3</a></li>
                                                    <li><a href="../deeplearning.html">AI DEEP LEARNIG</a></li>
                                                    <li><a href="../outsourcing.html">OUTSOURCING</a></li>
                                                    <li><a href="../consulting.html">CONSULTING</a></li>
                                                    <li><a href="../downloads.html">DOWNLOAD</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown">
                                                <a class="dropdown-toggle" href="#">
                                                    EDUCATION &nbsp;&nbsp;&nbsp;&nbsp;
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="../edu-deeplearning.html">DEEP LEARNING</a></li>
                                                    <li><a href="../edu-fullstack.html">FULLSTACK DEV</a></li>
                                                    <li><a href="../edu-blockchain.html">BLOCKCHAIN COURSE</a></li>
                                                    <li><a href="../edu-security.html">SECURITY COURSE</a></li>
                                                    <li><a href="../edu-data-modernization-and-governance.html">DM & DG COURSE</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown">
                                                <a class="dropdown-toggle" href="#">
                                                    News &nbsp;&nbsp;&nbsp;&nbsp;
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="../news.html">WEEKLY NEWS</a></li>
                                                    <li><a href="../releases.html">C3 SOLUTION RELEASES</a></li>
                                                </ul>
                                            </li>

                                            <li class="dropdown">
                                                <a class="dropdown-toggle" href="#">
                                                    Languages &nbsp;&nbsp;&nbsp;&nbsp;
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="../index.html">English</a></li>
                                                    <li><a href="https://welles.sg/france.html">Français</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <button class="btn header-btn-collapse-nav" data-toggle="collapse"
                                    data-target=".header-nav-main nav">
                                    <i class="fas fa-bars"></i>
                                </button>
                                <ul class="header-social-icons social-icons hidden-xs">
                                    <li class="social-icons-twitter"><a href="https://twitter.com/WellesPartners"
                                            target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                                    <li class="social-icons-linkedin"><a
                                            href="https://www.linkedin.com/company/welles-partners" target="_blank"
                                            title="Linkedin"><i class="fab fa-linkedin-in"></i></a>
                                    </li>
                                    <li class="social-icons-youtube"><a
                                            href="https://www.youtube.com/channel/UCNqntAcbVMrqN7sPKo1Ng1A"
                                            target="_blank" title="Youtube"><i class="fab fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="body">
        <div role="main" class="main">

            <section class="section section-parallax parallax custom-parallax-medium-padding m-0" data-plugin-parallax
                data-plugin-options="{'speed': 1.5}" data-image-src="../pic/news/news-top.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h1 class="text-uppercase text-color-dark font-weight-bold text-center m-0"> NYSDFS -
                                BitLicense 101</h1>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section section-no-border bg-color-light m-0 pb-0">
                <div class="container">
                    <div class="row justify-content-around">
                        <div class="col-md-10 col-lg-8 ml-auto">
                            <article class="custom-post-style-2">
                                <div class="post-infos">
                                    <span class="post-info">
                                        <img src="../pic/news/custom-icon-3.png" alt
                                            class="img-fluid mb-2 mx-auto mx-md-0" />
                                        <span class="date-day text-color-dark font-weight-semibold text-5">04</span>
                                        <span class="date-month text-color-dark font-weight-semibold">Oct 2019</span>
                                    </span>
                                    <!-- <span class="post-info">
                                        <img src="../pic/news/custom-icon-4.png" alt class="img-fluid mb-2 mx-auto mx-md-0" />
                                        <span class="date-day text-color-dark font-weight-semibold text-5">16</span>
                                        <span class="date-month text-color-dark font-weight-semibold">Comments</span>
                                    </span>
                                    <span class="post-info">
                                        <img src="../pic/news/custom-icon-5.png" alt class="img-fluid mb-2 mx-auto mx-md-0" />
                                        <span class="date-day text-color-dark font-weight-semibold text-5">265</span>
                                        <span class="date-month text-color-dark font-weight-semibold">Likes</span>
                                    </span> -->
                                </div>
                                <img src="../pic/news/alex-news-20191004.jpg" alt class="img-fluid mb-4" />
                                <p class="custom-text-color-1">
                                    New York State Department of Financial Services was founded on 2015 and since then
                                    there are many debates about them and their purpose.
                                    <br />
                                <ul class="custom-list-style-1">
                                    <li class="custom-text-color-1">
                                        <i class="fas fa-long-arrow-alt-right text-color-dark mr-3"></i><b>
                                            There are positive signs that new AML laws are having a positive impact
                                        </b>
                                        <br />
                                        Their most recewnt move was to introduce BitLicense.
                                        <dev>
                                            <ul type="1">
                                                <li> <a
                                                        href="https://www.dfs.ny.gov/apps_and_licensing/virtual_currency_businesses">
                                                        >>> NYSDFS - Virtual Currency Business Activity (BitLicense)</a>
                                                </li>
                                                <li> <a
                                                        href="https://www.dfs.ny.gov/docs/legal/regulations/adoptions/dfsp200t.pdf">
                                                        >>> TEXT OF REGULATION PDF</a></li>
                                            </ul>
                                        </dev>
                                    </li>

                                    <li class="custom-text-color-1">
                                        In general regulators think of the BitLicense and a way to introduce reasonable
                                        measures to control and reduce the risks that are related to transmitting and
                                        owning cryptocurrency. Opponents see it as intrusive, made to targeting crypto
                                        start-ups and that it is violating user privacy.

                                        <br /><br />
                                        Dominant factors like cost and privacy are NYDFS BitLicense reasons why may are
                                        reluctant to acquire it. It’s thirty pages log application [linkmissing]and
                                        application fee is around US$ 5000 this sound reasonable but the main problem is
                                        that gathering and organising all the informations with lawyer services make
                                        costs stack so it can cost up to US$ 100,000, it’s also kive personal
                                        information about business history and about the history of owners operators and
                                        so far compliance with Anti-Money Laundering (AML) and Know Your Customer (KYC)
                                        & Enterprise Fraud Prevention (EFP) regulations.

                                        <br /><br />
                                        One problem that applicant also encounter that raises cost is that virtual asset
                                        business must also have and qualified Chief Information Security Officer,
                                        written compliance and anti-fraud policies and disaster recovery procedure (so
                                        business customers would lose their money) which many of business in crypto
                                        world don’t have.

                                        <br /><br />
                                        These laws are made in the same way as in classical (non-crypto) businesses need
                                        to follow applied by the U.S. Treasury’s Financial Crimes Enforcement Network
                                        (FinCEN), and should generally apply to any virtual asset service provider in
                                        the U.S.A. this is a possible way to prevent new QuadrigaCX exchange fiascos.
                                    </li><br />

                                    <li class="custom-text-color-1">
                                        <i class="fas fa-long-arrow-alt-right text-color-dark mr-3"></i><b>
                                            BitLicense As a Way to Prevent Fiascos</b>
                                        <br />
                                        When we look at wide picture of BitLicence requirements as they are quite
                                        rigorous we can feel that any entity which has a BitLicense is reliable and here
                                        to stay.

                                        <br /><br />
                                        This will be in future a factor that will give problems to exchanges that they
                                        can not become big unless they pass gate of BitLicense. In turn Owners will be
                                        much safer and will be protected from losing money.

                                    </li><br />

                                    <li class="custom-text-color-1">
                                        <i class="fas fa-long-arrow-alt-right text-color-dark mr-3"></i><b>
                                            Mean to Fight AML, CFT & EFP</b>
                                        <br />
                                        Regulations are set in place to protect and to give institutions a framework
                                        i.e. without regulation and following compliance, cryptocurrencies are getting
                                        used a way of easy money laundering, financing of terrorisam, tax evasion, and
                                        other criminal activities...

                                        <br /><br />
                                        Anonymous nature of cryptocurrencies with easy international transfers and a
                                        lack of law enforcement to follow and catch illegal activities in numerous cases
                                        results that countries with lax or non-existent AML and KYC crypto-regulation
                                        have a significantly higher occurrence of financial crime and money laundering
                                        activity. There is a problem with BitLicense as it’s not created for small
                                        companies and it’s very hard for them to be part of it. In essence this means
                                        that small companies with weak security and no contingency plans be permitted to
                                        control consumer financial assets.

                                        <br /><br />
                                        This in term means that there is a need for a regulation that will cover part of
                                        small companies, and give them a milestone at which stage they need to be
                                        compliant with which laws. The license application, needs to reflect the asset
                                        size of the crypto-entity applying.

                                        <br /><br />
                                        This might allow for the smaller businesses and start-ups to break into the
                                        regulatory framework, without overtaxing the respective entities available
                                        resources.
                                    </li><br />

                                    <h3 class="text-uppercase text-color-dark font-weight-bold text-center m-0">Summary
                                        of BitLicense Framework</h3>
                                    <br />

                                    <li class="custom-text-color-1">
                                        <i class="fas fa-long-arrow-alt-right text-color-dark mr-3"></i><b>
                                            Compliance</b>
                                        <br />
                                        Compliance in cryptocurrencies a very complex and that is the reason why Welles
                                        Partners made software to make it easy as it can differ between countries and if
                                        you are compliant with the laws of one country that doesn’t mean that you are
                                        compliant with in other countries.

                                        <br /><br />
                                        For a BitLicense is in essence good way for USA and is a long, demanding,
                                        expensive process, and for these reasons can be accomplished only by larger,
                                        well-funded companies.

                                        <br /><br />
                                        Also, any future “material change” to the approved entity must have a consent
                                        from NYSDFS, to include Mergers and Acquisitions deals. This requirement is
                                        different from from any requirement for businesses doing in FIAT currencies.

                                        <br /><br />
                                        Company must be compliant with all applicable federal and state laws, rules, and
                                        regulations and have written compliance policies in order to receive a
                                        BitLicense the Licensee. Company also need to keep cryptocurrency transaction
                                        ledger for up to seven years, and customers’ sensitive information such as
                                        physical addresses, bank statements, and names of parties to the transactions
                                        must also be recorded and made available to the NYSDFS upon request.

                                    </li><br />

                                    <li class="custom-text-color-1">
                                        <i class="fas fa-long-arrow-alt-right text-color-dark mr-3"></i><b>
                                            Capital Requirements</b>
                                        <br />
                                        Company that want to get the license must maintain a certain amount of assets
                                        and a guarantee for their “financial integrity and ongoing operation” the amount
                                        is based on a number of factors and its determined my NYSDFS department
                                        executives These factors include the composition of the Licensee’s total assets
                                        and liabilities, the actual and expected volume of the Licensee’s “Virtual
                                        Currency Business Activity,” and the types of products or services to be
                                        offered.

                                    </li><br />

                                    <li class="custom-text-color-1">
                                        <i class="fas fa-long-arrow-alt-right text-color-dark mr-3"></i><b>
                                            Custody and Protection of Customer Assets</b>
                                        <br />
                                        To protect customers assets the company must maintain a surety bond or trust
                                        account in USD, in an amount determined by the NYSDFS and if the company holds,
                                        stores or maintains custody of a clients’ Virtual Currency (VC), the Licensee
                                        must be able to match the type and amount they are holding, and cannot sell or
                                        transfer the clients’ VC without direct permission.

                                    </li><br />

                                    <li class="custom-text-color-1">
                                        <i class="fas fa-long-arrow-alt-right text-color-dark mr-3"></i><b>
                                            Material changes to business</b>
                                        <br />
                                        Without NYSDFS approval The Company doesn’t have rights to introduce new
                                        products, services, or activities, or make material changes to existing
                                        products, services.

                                    </li><br />

                                    <li class="custom-text-color-1">
                                        <i class="fas fa-long-arrow-alt-right text-color-dark mr-3"></i><b>
                                            Change of control; mergers and acquisitions</b>
                                        <br />
                                        Need NYSDFS explicit approval.

                                    </li><br />

                                    <li class="custom-text-color-1">
                                        <i class="fas fa-long-arrow-alt-right text-color-dark mr-3"></i><b>
                                            Books and records</b>
                                        <br />
                                        The Company must make, keep, and preserve (in their original format) all of its’
                                        ledgers and records for a minimum of seven years. The Department of Financial
                                        Services must be allowed immediate access to “all facilities, books, records,
                                        documents, or other information maintained by the Licensee or its’ Affiliates.”
                                        Complete list of requirements for record keeping look at Article 200.12 f the
                                        BitLicence regulation.

                                    </li><br />

                                    <li class="custom-text-color-1">
                                        <i class="fas fa-long-arrow-alt-right text-color-dark mr-3"></i><b>
                                            Examinations</b>
                                        <br />
                                        The Company will be checked by the NYSDFS on period no bigger than two years so
                                        they can ensure the company is in a healthy financial condition, strong safety
                                        and soundness practices, and its complete compliance with these regulations.

                                    </li><br />

                                    <li class="custom-text-color-1">
                                        <i class="fas fa-long-arrow-alt-right text-color-dark mr-3"></i><b>
                                            Reports and financial disclosures</b>
                                        <br />
                                        Pey year 4 time i.e. quarterly financial statements and audited annual financial
                                        statements must be submitted to the NYSDFS. Details look at Article 200.14.

                                    </li><br />

                                    <li class="custom-text-color-1">
                                        <i class="fas fa-long-arrow-alt-right text-color-dark mr-3"></i><b>
                                            Anti-Money Laundering program</b>
                                        <br />
                                        The Company must have a written anti-money laundering policy and must have
                                        procedures to monitor for suspicious activity that might signify money
                                        laundering, tax evasion, or other illegal or criminal activity, filing SARs when
                                        appropriate.

                                        <br /><br />
                                        The company must notify NYSDFS of any transactions that exceed US$10,000 in one
                                        day by one person, even if the transactions are crypto-to-crypto and must have a
                                        KYC program for the identification and verification of account holders.

                                        <br /> <br />
                                        Customer Due Diligence (CDD) must be performed to verify a customer’s identity
                                        before on-boarding and Enhanced Due Diligence (EDD) is required for high-risk
                                        customers, high-volume accounts, accounts on which a SAR has previously been
                                        filed, or accounts involving foreign entities. The Companymust also check
                                        customers against the OFAC SDN list.

                                    </li><br />

                                    <li class="custom-text-color-1">
                                        <i class="fas fa-long-arrow-alt-right text-color-dark mr-3"></i><b>
                                            Cybersecurity program</b>
                                        <br />
                                        The Company must establish and maintain an effective cybersecurity program to
                                        protect the confidentiality, integrity, and accessibility of its’ data. The
                                        Company must appoint a Chief Information Security Officer (CISO) to oversee,
                                        implement and enforce the policy. The CISO will prepare a report for the
                                        Department every year, assessing the program and proposing how it will address
                                        any liabilities.

                                    </li><br />

                                    <li class="custom-text-color-1">
                                        <i class="fas fa-long-arrow-alt-right text-color-dark mr-3"></i><b>
                                            Business continuity and disaster recovery</b>
                                        <br />
                                        The Licensee must have a written Business Continuity Plan (BCP) and Disaster
                                        Recovery (DR) plan to ensure their availability and functionality if there is
                                        ever an emergency situation that would otherwise disrupt their normal business
                                        activities. This plan should be tested annually at the minimum.

                                    </li><br />

                                    <li class="custom-text-color-1">
                                        <i class="fas fa-long-arrow-alt-right text-color-dark mr-3"></i><b>
                                            Advertising and marketing</b>
                                        <br />
                                        The phrase “Licensed to engage in Virtual Currency Business Activity by the New
                                        York State

                                        <br /><br />
                                        Department of Financial Services” must be included in all advertisements. The
                                        Licensee must keep all advertising and marketing materials for a minimum of
                                        seven years.

                                        <ul>
                                            <li> + “Virtual Currency is not legal tender; is not backed by the
                                                government…”</li>
                                            <li> + “The volatility and unpredictability of the price of Virtual Currency
                                                relative to Fiat Currency may result in significant loss over a short
                                                period of time…”</li>
                                            <li> + “The nature of Virtual Currency may lead to an increased risk of
                                                fraud or cyber attack…”</li>
                                            <li> + The company must disclose:
                                                <ul>
                                                    <li> - general terms and conditions, </li>
                                                    <li> - terms of transactions, </li>
                                                    <li> - provide receipts upon completion of any transaction, </li>
                                                    <li> - establish a written anti-fraud policy</li>
                                                </ul>
                                            </li>
                                        </ul>
                                        For more look at Article 200.19 of the BitLicense regulation text.
                                    </li><br />

                                    <li class="custom-text-color-1">
                                        <i class="fas fa-long-arrow-alt-right text-color-dark mr-3"></i><b>
                                            Consumer protection</b>
                                        <br />
                                        The Licensee must disclose all material risks associated with its’ products,
                                        services, and activities, as well as the risks associated with virtual currency
                                        in general, prior to any type of transaction with a customer. This includes, but
                                        is not limited to, disclosure statements such as:
                                    </li><br />

                                    <li class="custom-text-color-1">
                                        <i class="fas fa-long-arrow-alt-right text-color-dark mr-3"></i><b>
                                            Advertising and marketing</b>
                                        <br />
                                        The phrase “Licensed to engage in Virtual Currency Business Activity by the New
                                        York State
                                        Department of Financial Services” must be included in all advertisements. The
                                        Licensee must keep all advertising and marketing materials for a minimum of
                                        seven years.

                                    </li><br />

                                    <li class="custom-text-color-1">
                                        <i class="fas fa-long-arrow-alt-right text-color-dark mr-3"></i><b>
                                            Complaints</b>
                                        <br />
                                        The Company must have written policies and procedures to resolve complaints in a
                                        fair and timely manner. Part of this policy includes adding the Company, as well
                                        as the Departments’, mailing address, email address, and telephone number online
                                        for the receipt of complaints.

                                    </li><br />

                                    <li class="custom-text-color-1">
                                        <i class="fas fa-long-arrow-alt-right text-color-dark mr-3"></i><b>
                                            Severability</b>
                                        <br />
                                        If a court deems any portion of the BitLicense regulatory text or the way it has
                                        been applied to specific Companies invalid, that does not invalidate the entire
                                        document.

                                    </li><br />

                                    <li class="custom-text-color-1">
                                        <i class="fas fa-long-arrow-alt-right text-color-dark mr-3"></i><b>
                                            Inspections</b>
                                        <br />
                                        The License requires financial report four times per year, annual audits and
                                        inspections.

                                    </li><br />






                                </ul>

                                </p>
                                <!-- <div
                                    class="testimonial testimonial-style-5 testimonial-with-quotes custom-testimonial-blog-1 mb-0">
                                    <blockquote>
                                        <p class="text-color-dark font-weight-semibold">Lorem ipsum dolor sit amet,
                                            consectetur adipisicing elit. Dolorem similique et, voluptates quas nostrum
                                            ipsa!</p>
                                    </blockquote>
                                </div>
                                <p class="custom-text-color-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Quis voluptatibus optio ut accusamus laboriosam neque, maxime impedit vel.</p> -->

                                <div class="post-links">
                                    <a class="custom-item-divider-1 text-decoration-none text-uppercase text-color-dark font-weight-semibold custom-primary-hover float-left mr-4"
                                        href="weeklyNews/news-2019-09-27-detail.html"><i
                                            class="fas fa-long-arrow-alt-left text-color-primary mr-1"></i>
                                        Prev</a>
                                    <a class="text-decoration-none text-uppercase text-color-dark font-weight-semibold custom-primary-hover float-left ml-2"
                                        href="weeklyNews/news-2019-10-11-detail.html">Next <i
                                            class="fas fa-long-arrow-alt-right text-color-primary ml-1"></i></a>
                                    <ul class="social-icons custom-style-1 float-right">
                                        <li class="text-color-dark font-weight-semibold">Share:</li>
                                        <li class="social-icons-twitter text-color-primary"><a
                                                href="https://twitter.com/WellesPartners" target="_blank"
                                                title="Twitter"><i class="fab fa-twitter"></i></a></li>
                                        <li class="social-icons-linkedin text-color-primary"><a
                                                href="https://www.linkedin.com/company/welles-partners" target="_blank"
                                                title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </div>
                            </article>



                        </div>
                        <div class="col-lg-3">
                            <aside class="sidebar custom-sidebar">
                                <!-- <div class="custom-sidebar-search mb-5">
                                    <form id="searchForm" action="page-search-results.html" method="get" novalidate="novalidate">
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="q" id="q" placeholder="Search..." required="" aria-required="true">
                                            <span class="input-group-append">
                                                <button class="btn btn-light" type="submit"><i class="icon-magnifier icons"></i></button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                                 -->
                            </aside>
                        </div>
                    </div>
                </div>
            </section>



        </div>
        <footer id="footer" class="custom-footer bg-color-light m-0">
            <div class="container py-4">
                <div class="row text-center text-lg-left pt-5 pb-4">
                    <div class="col-md-3 mb-4 mb-lg-0">
                        <a href="../index.html" class="text-decoration-none">
                            <img src="../pic/LogoWelles.svg" width="100" height="45" class="img-fluid" alt />
                        </a>
                    </div>
                    <div class="col-md-2 mb-4 mb-lg-0">
                        <h5 class="text-color-dark font-weight-bold mb-1">DEVELOPMENT</h5>
                        <ul>
                            <li>
                                <a class="custom-text-color-1" href="../crypto-compliance.html"
                                    title="C3 SOLUTION - CRYPTOCURRENCY COMPLIANCE">
                                    C3 SOLUTION
                                </a>
                            </li>
                            <li>
                                <a class="custom-text-color-1" href="https://app.welles.sg" title="APP  C3">
                                    APP C3 &nbsp; [ &nbsp; <span style="font-size: 20px;"><i
                                            class="fab fa-aws"></i>&nbsp; </span> ]
                                </a>
                            </li>
                            <li>
                                <a class="custom-text-color-1" href="../blockchain.html" title="BLOCKCHAIN C3">
                                    BLOCKCHAIN C3
                                </a>
                            </li>
                            <li>
                                <a class="custom-text-color-1" href="../faq.html" title="BLOCKCHAIN C3">
                                    FAQ C3
                                </a>
                            </li>
                            <li>
                                <a class="custom-text-color-1" href="../deeplearning.html" title="AI DEEP LEARNIG">
                                    AI DEEP LEARNIG
                                </a>
                            </li>
                            <li>
                                <a class="custom-text-color-1" href="../outsourcing.html" title="OUTSOURCING">
                                    OUTSOURCING
                                </a>
                            </li>
                            <li>
                                <a class="custom-text-color-1" href="../consulting.html" title="CONSULTING">
                                    CONSULTING
                                </a>
                            </li>
                            <li>
                                <a class="custom-text-color-1" href="../downloads.html" title="DOWNLOAD">
                                    DOWNLOAD
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2 mb-4 mb-lg-0">
                        <h5 class="text-color-dark font-weight-bold mb-1">EDUCATION</h5>
                        <ul>
                            <li>
                                <a class="custom-text-color-1" href="../edu-deeplearning.html" title="DEEP LEARNING">
                                    DEEP LEARNING
                                </a>
                            </li>
                            <li>
                                <a class="custom-text-color-1" href="../edu-fullstack.html" title="FULLSTACK DEV">
                                    FULLSTACK DEV
                                </a>
                            </li>
                            <li>
                                <a class="custom-text-color-1" href="../edu-blockchain.html" title="BLOCKCHAIN COURSE">
                                    BLOCKCHAIN COURSE
                                </a>
                            </li>
                            <li>
                                <a class="custom-text-color-1" href="../edu-security.html" title="SECURITY COURSE">
                                    SECURITY COURSE
                                </a>
                            </li>
                            <li>
                                <a class="custom-text-color-1" href="../edu-data-modernization-and-governance.html"
                                    title="DATA MODERNIZATION & GOVERNANCE COURSE">
                                    DATA MODERNIZATION & GOVERNANCE COURSE
                                </a>
                            </li>
                        </ul>
                    </div>


                    <div class="col-md-2 mb-4 mb-lg-0">
                        <h5 class="text-color-dark font-weight-bold mb-1">NEWS</h5>
                        <ul>
                            <li>
                                <a class="custom-text-color-1" href="../news.html" title="NEWS">
                                    WEEKLY NEWS
                                </a>
                            </li>
                            <li>
                                <a class="custom-text-color-1" href="../releases.html" title="C3 SOLUTION  RELEASES">
                                    C3 SOLUTION RELEASES
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2 mb-4 mb-lg-0">
                        <h5 class="text-color-dark font-weight-bold mb-1">KNOW MORE</h5>
                        <ul>
                            <li>
                                <a class="custom-text-color-1" href="../contact-us.html" title="CONTACT US">
                                    CONTACT US
                                </a>
                            </li>
                            <li>
                                <a class="custom-text-color-1" href="../company.html" title="COMPANY">
                                    COMPANY
                                </a>
                            </li>

                            <li>
                                <a class="custom-text-color-1" href="../faq.html" title="CONTACT US">
                                    FREQUENTLY ASKED QUESTIONS
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul class="social-icons custom-social-icons float-lg-right">
                            <li class="social-icons-twitter">
                                <a href="https://twitter.com/WellesPartners" target="_blank" title="Twitter">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li class="social-icons-linkedin">
                                <a href="https://www.linkedin.com/company/welles-partners" target="_blank"
                                    title="Linkedin">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                            <li class="social-icons-youtube">
                                <a href="https://www.youtube.com/channel/UCNqntAcbVMrqN7sPKo1Ng1A" target="_blank"
                                    title="Youtube">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright bg-color-light m-0 pt-3 pb-3">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center pt-3">
                            <p class="custom-text-color-1">© Copyright 2018. All Rights Reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- CUSTOM STYLE HOME PAGE-->
    <script src="../loader/loader.js"></script>

    <!-- Vendor -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/jquery.appear/jquery.appear.min.js"></script>
    <script src="../vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="../vendor/jquery.cookie/jquery.cookie.min.js"></script>
    <script src="../vendor/popper/umd/popper.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="../vendor/common/common.min.js"></script>
    <script src="../vendor/jquery.validation/jquery.validate.min.js"></script>
    <script src="../vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
    <script src="../vendor/jquery.gmap/jquery.gmap.min.js"></script>
    <script src="../vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
    <script src="../vendor/isotope/jquery.isotope.min.js"></script>
    <script src="../vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="../vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="../vendor/vide/jquery.vide.min.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="../js/theme.js"></script>

    <!-- Current Page Vendor and Views -->
    <script src="../vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="../vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

    <!-- Current Page Vendor and Views -->
    <script src="../js/views/view.contact.js"></script>

    <!-- Demo -->
    <script src="../js/demos/demo-finance.js"></script>

    <!-- Theme Custom -->
    <script src="../js/custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="../js/theme.init.js"></script>


</body>

</html>