<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131507997-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-131507997-1');
    </script>

    <!--JQuery Code For Running-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>


    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>WHITE PAPER BY DIGITAL DOLLAR SETS THE GROUNDWORK FOR US CBDC PART 2 - Welles | News Crypto Compliance 12
        June 2020 | Compliance and Anti-Money Laundering</title>

    <meta name="keywords" content="AML, anti-money laundering, combatting terrorist financing , crypto-compliance" />
    <meta name="description"
        content="Welles offer compliance service as effort to support Anti-Money Laundering actions">
    <meta name="author" content="Welles Partners Pte Ltd">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../pic/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../pic/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../pic/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../pic/favicon-16x16.png">
    <link rel="manifest" href="../pic/site.webmanifest">
    <link rel="mask-icon" href="../pic/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="../pic/favicon.ico">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-config" content="../pic/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="../vendor/animate/animate.min.css">
    <link rel="stylesheet" href="../vendor/simple-line-icons/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="../vendor/owl.carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../vendor/owl.carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="../vendor/magnific-popup/magnific-popup.min.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="../css/theme.css">
    <link rel="stylesheet" href="../css/theme-elements.css">
    <link rel="stylesheet" href="../css/theme-blog.css">
    <link rel="stylesheet" href="../css/theme-shop.css">

    <!-- Current Page CSS -->
    <link rel="stylesheet" href="../vendor/rs-plugin/css/settings.css">
    <link rel="stylesheet" href="../vendor/rs-plugin/css/layers.css">
    <link rel="stylesheet" href="../vendor/rs-plugin/css/navigation.css">

    <!-- Demo CSS -->
    <link rel="stylesheet" href="../css/demos/demo-finance.css">

    <!-- Skin CSS -->
    <link rel="stylesheet" href="../css/skins/skin-finance.css">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="../css/custom.css">

    <!-- Head Libs -->
    <script src="../vendor/modernizr/modernizr.min.js"></script>

    <!-- STYLLE LOADER -->
    <link href="../loader/loader.css" rel="stylesheet" />
</head>

<body>
    <div id="wrapperLoader">
        <div id="loading">
            <div id="neZnam">
                <div class="logoIndex">
                    <!--<div class="loader">Loading...</div>-->
                    <a href="../index.html">
                        <img alt="Welles Finance" width="300" height="90" src="../loader/LogoWelles.svg">
                    </a>
                </div>

                <div class="spinnerBox">
                    <div class="spinner-item"></div>
                    <div class="spinner-item"></div>
                    <div class="spinner-item"></div>
                </div>
                <div id="loaderEtc">
                    <p style="font-size: 20px;">Loading...</p>
                </div>

            </div>
        </div>
    </div>

    <header id="header" class="header-effect-shrink"
        data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyChangeLogo': true, 'stickyStartAt': 30, 'stickyHeaderContainerHeight': 70}">
        <div class="header-body border-0">
            <div class="header-container container">
                <div class="header-row">
                    <div class="header-column">
                        <div class="header-row">
                            <div class="header-logo">
                                <a href="../index.html">
                                    <img alt="Welles Finance" width="150" height="45" src="../pic/LogoWelles.svg">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="header-column justify-content-end">
                        <div class="header-row">
                            <div class="header-nav header-nav-links order-2 order-lg-1">
                                <div
                                    class="header-nav-main header-nav-main-square header-nav-main-effect-2 header-nav-main-sub-effect-1">
                                    <nav class="collapse">
                                        <ul class="nav nav-pills" id="mainNav">
                                            <li>
                                                <a class="nav-link" href="../index.html">
                                                    Home
                                                </a>
                                            </li>
                                            <li class="dropdown">
                                                <a class="dropdown-toggle" href="#">
                                                    About Us &nbsp;&nbsp;&nbsp;&nbsp;
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="../contact-us.html">CONTACT</a></li>
                                                    <li><a href="../company.html">COMPANY</a></li>

                                                </ul>
                                            </li>
                                            <li class="dropdown">
                                                <a class="dropdown-toggle" href="#">
                                                    DEVELOPMENT &nbsp;&nbsp;&nbsp;&nbsp;
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="../crypto-compliance.html">C3 SOLUTION</a></li>
                                                    <li><a href="https://app.welles.sg">App C3 &nbsp; [ &nbsp; <span
                                                                style="font-size: 20px;"><i
                                                                    class="fab fa-aws"></i>&nbsp; </span> ]</a></li>
                                                    <li><a href="../blockchain.html">BLOCKCHAIN C3</a></li>
                                                    <li><a href="../faq.html">FAQ C3</a></li>
                                                    <li><a href="../deeplearning.html">AI DEEP LEARNIG</a></li>
                                                    <li><a href="../outsourcing.html">OUTSOURCING</a></li>
                                                    <li><a href="../consulting.html">CONSULTING</a></li>
                                                    <li><a href="../downloads.html">DOWNLOAD</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown">
                                                <a class="dropdown-toggle" href="#">
                                                    EDUCATION &nbsp;&nbsp;&nbsp;&nbsp;
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="../edu-deeplearning.html">DEEP LEARNING</a></li>
                                                    <li><a href="../edu-fullstack.html">FULLSTACK DEV</a></li>
                                                    <li><a href="../edu-blockchain.html">BLOCKCHAIN COURSE</a></li>
                                                    <li><a href="../edu-security.html">SECURITY COURSE</a></li>
                                                    <li><a href="../edu-data-modernization-and-governance.html">DM & DG COURSE</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown">
                                                <a class="dropdown-toggle" href="#">
                                                    News &nbsp;&nbsp;&nbsp;&nbsp;
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="../news.html">WEEKLY NEWS</a></li>
                                                    <li><a href="../releases.html">C3 SOLUTION RELEASES</a></li>
                                                </ul>
                                            </li>

                                            <li class="dropdown">
                                                <a class="dropdown-toggle" href="#">
                                                    Languages &nbsp;&nbsp;&nbsp;&nbsp;
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="../index.html">English</a></li>
                                                    <li><a href="https://welles.sg/france.html">Français</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <button class="btn header-btn-collapse-nav" data-toggle="collapse"
                                    data-target=".header-nav-main nav">
                                    <i class="fas fa-bars"></i>
                                </button>
                                <ul class="header-social-icons social-icons hidden-xs">
                                    <li class="social-icons-twitter"><a href="https://twitter.com/WellesPartners"
                                            target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                                    <li class="social-icons-linkedin"><a
                                            href="https://www.linkedin.com/company/welles-partners" target="_blank"
                                            title="Linkedin"><i class="fab fa-linkedin-in"></i></a>
                                    </li>
                                    <li class="social-icons-youtube"><a
                                            href="https://www.youtube.com/channel/UCNqntAcbVMrqN7sPKo1Ng1A"
                                            target="_blank" title="Youtube"><i class="fab fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="body">
        <div role="main" class="main">

            <section class="section section-parallax parallax custom-parallax-medium-padding m-0" data-plugin-parallax
                data-plugin-options="{'speed': 1.5}" data-image-src="../pic/news/news-top.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h1 class="text-uppercase text-color-dark font-weight-bold text-center m-0">WHITE PAPER BY
                                DIGITAL DOLLAR SETS THE GROUNDWORK FOR US CBDC PART 2</h1>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section section-no-border bg-color-light m-0 pb-0">
                <div class="container">
                    <div class="row justify-content-around">
                        <div class="col-md-10 col-lg-8 ml-auto">
                            <article class="custom-post-style-2">
                                <div class="post-infos">
                                    <span class="post-info">
                                        <img src="../pic/news/custom-icon-3.png" alt
                                            class="img-fluid mb-2 mx-auto mx-md-0" />
                                        <span class="date-day text-color-dark font-weight-semibold text-5">12</span>
                                        <span class="date-month text-color-dark font-weight-semibold">June 2020</span>
                                    </span>
                                    <!-- <span class="post-info">
                                        <img src="../pic/news/custom-icon-4.png" alt class="img-fluid mb-2 mx-auto mx-md-0" />
                                        <span class="date-day text-color-dark font-weight-semibold text-5">16</span>
                                        <span class="date-month text-color-dark font-weight-semibold">Comments</span>
                                    </span>
                                    <span class="post-info">
                                        <img src="../pic/news/custom-icon-5.png" alt class="img-fluid mb-2 mx-auto mx-md-0" />
                                        <span class="date-day text-color-dark font-weight-semibold text-5">265</span>
                                        <span class="date-month text-color-dark font-weight-semibold">Likes</span>
                                    </span> -->
                                </div>
                                <img src="../pic/news/alex-news-20200612.jpg" alt class="img-fluid mb-4" />
                                <!-- <p class="custom-text-color-1"> -->
                                <ul class="custom-list-style-1">
                                    <li class="custom-text-color-1">
                                        The first white paper released by The Digital Dollar Project (TDDP) delves into
                                        preparations for the development of a U.S. Central Bank Digital Currency (CBDC).
                                        <br /><br />
                                        Between privacy and centralization
                                        While not wishing to step outside existing regulatory bounds, TDDP's aim is not
                                        to overturn the current monetary system of the U.S. The format of the flow of
                                        currency from the Federal Reserve to financial institutions and then to the
                                        public should be maintained, as TDDP already mentioned several times:
                                        <br /><br />
                                        “A digital dollar will be distributed through the existing two-tiered
                                        architecture of commercial banks and regulated intermediaries.”
                                        <br /><br />
                                        While some recent legislation has called for direct consumer access to accounts
                                        with the Fed, Gorfine clarified that the proposed structure of TDDB partially
                                        represents an attempt at decentralization:
                                        <br /><br />
                                        “Relying primarily on the private sector and regulated banks and money
                                        transmitters seems like a much better approach. Public solutions would only make
                                        sense if there are remaining gaps and problems to solve for. [...] If you think
                                        about the way the Fed developed, it was attempting to decentralize the federal
                                        banking system and related policy decisionmaking.”
                                        <br /><br />
                                        Similarly, the white paper states that existing Anti-Money Laundering or “Know
                                        Your Customer” requirements must be met for any digital dollar innovations.
                                        Meanwhile, privacy is a central concern as both the project’s founders and the
                                        white paper have been mentioning for a long time. Most agree that the 4th
                                        amendment must be taken into account for any future legislation.
                                        <br /><br />
                                        On that subject, Gorfine also stated: “This is a very meaty and important area.
                                        Ultimately, these are policy choices that need to be made by the government,”
                                        adding: “I think what we flag in the paper is a champion [...] model by
                                        anchoring and analogizing to physical cash.”
                                        <br /><br />
                                        The rensposiveness of the financial system was brought into question many times
                                        as a consequence of the COVID-19 pandemic, mostly about how to increase it,
                                        where a digital dollar is being called for by a number of bills.
                                        <br /><br />
                                        Stay tuned!
                                        <br />
                                        <b>Aleksandar JELIC</b>
                                    </li>
                                </ul>

                                <!-- <div
                                    class="testimonial testimonial-style-5 testimonial-with-quotes custom-testimonial-blog-1 mb-0">
                                    <blockquote>
                                        <p class="text-color-dark font-weight-semibold">Lorem ipsum dolor sit amet,
                                            consectetur adipisicing elit. Dolorem similique et, voluptates quas nostrum
                                            ipsa!</p>
                                            
                                    </blockquote>
                                </div>
                                <p class="custom-text-color-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Quis voluptatibus optio ut accusamus laboriosam neque, maxime impedit vel.</p>
                                 -->

                                <div class="post-links">
                                    <a class="custom-item-divider-1 text-decoration-none text-uppercase text-color-dark font-weight-semibold custom-primary-hover float-left mr-4"
                                        href="weeklyNews/news-2020-06-05-detail.html"><i
                                            class="fas fa-long-arrow-alt-left text-color-primary mr-1"></i>
                                        Prev</a>

                                    <a class="text-decoration-none text-uppercase text-color-dark font-weight-semibold custom-primary-hover float-left ml-2"
                                        href="weeklyNews/news-2020-06-19-detail.html">Next <i
                                            class="fas fa-long-arrow-alt-right text-color-primary ml-1"></i></a>


                                    <ul class="social-icons custom-style-1 float-right">
                                        <li class="text-color-dark font-weight-semibold">Share:</li>
                                        <li class="social-icons-twitter text-color-primary"><a
                                                href="https://twitter.com/WellesPartners" target="_blank"
                                                title="Twitter"><i class="fab fa-twitter"></i></a></li>
                                        <li class="social-icons-linkedin text-color-primary"><a
                                                href="https://www.linkedin.com/company/welles-partners" target="_blank"
                                                title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </div>
                            </article>



                        </div>
                        <div class="col-lg-3">
                            <aside class="sidebar custom-sidebar">
                                <!-- <div class="custom-sidebar-search mb-5">
                                    <form id="searchForm" action="page-search-results.html" method="get" novalidate="novalidate">
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="q" id="q" placeholder="Search..." required="" aria-required="true">
                                            <span class="input-group-append">
                                                <button class="btn btn-light" type="submit"><i class="icon-magnifier icons"></i></button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                                 -->
                            </aside>
                        </div>
                    </div>
                </div>
            </section>



        </div>
        <footer id="footer" class="custom-footer bg-color-light m-0">
            <div class="container py-4">
                <div class="row text-center text-lg-left pt-5 pb-4">
                    <div class="col-md-3 mb-4 mb-lg-0">
                        <a href="../index.html" class="text-decoration-none">
                            <img src="../pic/LogoWelles.svg" width="100" height="45" class="img-fluid" alt />
                        </a>
                    </div>
                    <div class="col-md-2 mb-4 mb-lg-0">
                        <h5 class="text-color-dark font-weight-bold mb-1">DEVELOPMENT</h5>
                        <ul>
                            <li>
                                <a class="custom-text-color-1" href="../crypto-compliance.html"
                                    title="C3 SOLUTION - CRYPTOCURRENCY COMPLIANCE">
                                    C3 SOLUTION
                                </a>
                            </li>
                            <li>
                                <a class="custom-text-color-1" href="https://app.welles.sg" title="APP  C3">
                                    APP C3 &nbsp; [ &nbsp; <span style="font-size: 20px;"><i
                                            class="fab fa-aws"></i>&nbsp; </span> ]
                                </a>
                            </li>
                            <li>
                                <a class="custom-text-color-1" href="../blockchain.html" title="BLOCKCHAIN C3">
                                    BLOCKCHAIN C3
                                </a>
                            </li>
                            <li>
                                <a class="custom-text-color-1" href="../faq.html" title="BLOCKCHAIN C3">
                                    FAQ C3
                                </a>
                            </li>
                            <li>
                                <a class="custom-text-color-1" href="../deeplearning.html" title="AI DEEP LEARNIG">
                                    AI DEEP LEARNIG
                                </a>
                            </li>
                            <li>
                                <a class="custom-text-color-1" href="../outsourcing.html" title="OUTSOURCING">
                                    OUTSOURCING
                                </a>
                            </li>
                            <li>
                                <a class="custom-text-color-1" href="../consulting.html" title="CONSULTING">
                                    CONSULTING
                                </a>
                            </li>
                            <li>
                                <a class="custom-text-color-1" href="../downloads.html" title="DOWNLOAD">
                                    DOWNLOAD
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2 mb-4 mb-lg-0">
                        <h5 class="text-color-dark font-weight-bold mb-1">EDUCATION</h5>
                        <ul>
                            <li>
                                <a class="custom-text-color-1" href="../edu-deeplearning.html" title="DEEP LEARNING">
                                    DEEP LEARNING
                                </a>
                            </li>
                            <li>
                                <a class="custom-text-color-1" href="../edu-fullstack.html" title="FULLSTACK DEV">
                                    FULLSTACK DEV
                                </a>
                            </li>
                            <li>
                                <a class="custom-text-color-1" href="../edu-blockchain.html" title="BLOCKCHAIN COURSE">
                                    BLOCKCHAIN COURSE
                                </a>
                            </li>
                            <li>
                                <a class="custom-text-color-1" href="../edu-security.html" title="SECURITY COURSE">
                                    SECURITY COURSE
                                </a>
                            </li>
                            <li>
                                <a class="custom-text-color-1" href="../edu-data-modernization-and-governance.html"
                                    title="DATA MODERNIZATION & GOVERNANCE COURSE">
                                    DATA MODERNIZATION & GOVERNANCE COURSE
                                </a>
                            </li>
                        </ul>
                    </div>


                    <div class="col-md-2 mb-4 mb-lg-0">
                        <h5 class="text-color-dark font-weight-bold mb-1">NEWS</h5>
                        <ul>
                            <li>
                                <a class="custom-text-color-1" href="../news.html" title="NEWS">
                                    WEEKLY NEWS
                                </a>
                            </li>
                            <li>
                                <a class="custom-text-color-1" href="../releases.html" title="C3 SOLUTION  RELEASES">
                                    C3 SOLUTION RELEASES
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2 mb-4 mb-lg-0">
                        <h5 class="text-color-dark font-weight-bold mb-1">KNOW MORE</h5>
                        <ul>
                            <li>
                                <a class="custom-text-color-1" href="../contact-us.html" title="CONTACT US">
                                    CONTACT US
                                </a>
                            </li>
                            <li>
                                <a class="custom-text-color-1" href="../company.html" title="COMPANY">
                                    COMPANY
                                </a>
                            </li>

                            <li>
                                <a class="custom-text-color-1" href="../faq.html" title="CONTACT US">
                                    FREQUENTLY ASKED QUESTIONS
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul class="social-icons custom-social-icons float-lg-right">
                            <li class="social-icons-twitter">
                                <a href="https://twitter.com/WellesPartners" target="_blank" title="Twitter">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li class="social-icons-linkedin">
                                <a href="https://www.linkedin.com/company/welles-partners" target="_blank"
                                    title="Linkedin">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                            <li class="social-icons-youtube">
                                <a href="https://www.youtube.com/channel/UCNqntAcbVMrqN7sPKo1Ng1A" target="_blank"
                                    title="Youtube">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright bg-color-light m-0 pt-3 pb-3">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center pt-3">
                            <p class="custom-text-color-1">© Copyright 2018. All Rights Reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- CUSTOM STYLE HOME PAGE-->
    <script src="../loader/loader.js"></script>

    <!-- Vendor -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/jquery.appear/jquery.appear.min.js"></script>
    <script src="../vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="../vendor/jquery.cookie/jquery.cookie.min.js"></script>
    <script src="../vendor/popper/umd/popper.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="../vendor/common/common.min.js"></script>
    <script src="../vendor/jquery.validation/jquery.validate.min.js"></script>
    <script src="../vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
    <script src="../vendor/jquery.gmap/jquery.gmap.min.js"></script>
    <script src="../vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
    <script src="../vendor/isotope/jquery.isotope.min.js"></script>
    <script src="../vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="../vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="../vendor/vide/jquery.vide.min.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="../js/theme.js"></script>

    <!-- Current Page Vendor and Views -->
    <script src="../vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="../vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

    <!-- Current Page Vendor and Views -->
    <script src="../js/views/view.contact.js"></script>

    <!-- Demo -->
    <script src="../js/demos/demo-finance.js"></script>

    <!-- Theme Custom -->
    <script src="../js/custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="../js/theme.init.js"></script>


</body>

</html>