#wrapperLoader {
    --size: 125px;
    --clr-bg: #ffffff;
    --clr1: hsl(219, 27%, 54%);
    --clr3: #c8d3d8;
    --clr5: #25272c;
}

*, *::before, *::after {
    box-sizing: border-box;
}

#loading {
    margin: 0;
    min-height: 100vh;
    background-color: var(--clr-bg);
    display: grid;
    place-items: center;
}

#neZnam {
    margin-top: 7rem;
    margin-bottom: 7rem;
    display: grid;
    grid-template-columns: repeat(1, auto);
    place-items: center;
    /* */
}

.logoIndex {
    margin-top: -30px;
    margin-bottom: -10px;
}

#loaderEtc {
    margin-top: -30px;
}

@media (min-width: 650px) {
    #neZnam {
        grid-template-rows: repeat(1, auto);
        grid-template-columns: repeat(1, auto);
        gap: 7rem;
    }
    
}

@media (max-width: 650px) {
    .logoIndex {
        margin-top: -20px;
        margin-bottom: 90px;
    }
    
    #loaderEtc {
        margin-top: 50px;
    }
}

.spinnerBox {
    --animation-duration: 5000ms;
    position: relative;
    width: var(--size);
    height: var(--size);
    transform: rotate(45deg);
}

.spinnerBox .spinner-item {
    --item-size: calc(var(--size) / 2.5);
    position: absolute;
    width: var(--item-size);
    height: var(--item-size);
    border: 4px solid var(--clr-spinner);
}

.spinnerBox .spinner-item:nth-child(1) {
    --clr-spinner: var(--clr1);
    top: 0;
    left: 0;
    animation: spinner3A var(--animation-duration) linear infinite;
}

@keyframes spinner3A {
    0%, 8.33%, 16.66%, 100% {
        transform: translate(0%, 0%);
    }
    24.99%, 33.32%, 41.65% {
        transform: translate(100%, 0%);
    }
    49.98%, 58.31%, 66.64% {
        transform: translate(100%, 100%);
    }
    74.97%, 83.3%, 91.63% {
        transform: translate(0%, 100%);
    }
}

.spinnerBox .spinner-item:nth-child(2) {
    --clr-spinner: var(--clr3);
    top: 0;
    left: var(--item-size);
    animation: spinner3B var(--animation-duration) linear infinite;
}

@keyframes spinner3B {
    0%, 8.33%, 91.63%, 100% {
        transform: translate(0%, 0%);
    }
    16.66%, 24.99%, 33.32% {
        transform: translate(0%, 100%);
    }
    41.65%, 49.98%, 58.31% {
        transform: translate(-100%, 100%);
    }
    66.64%, 74.97%, 83.3% {
        transform: translate(-100%, 0%);
    }
}

.spinnerBox .spinner-item:nth-child(3) {
    --clr-spinner: var(--clr5);
    top: var(--item-size);
    left: var(--item-size);
    animation: spinner3C var(--animation-duration) linear infinite;
}

@keyframes spinner3C {
    0%, 83.3%, 91.63%, 100% {
        transform: translate(0, 0);
    }
    8.33%, 16.66%, 24.99% {
        transform: translate(-100%, 0);
    }
    33.32%, 41.65%, 49.98% {
        transform: translate(-100%, -100%);
    }
    58.31%, 66.64%, 74.97% {
        transform: translate(0, -100%);
    }
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #3b3b3b;
  font-size: 5px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
