body {
    margin: 0;
    height: 100%;
    font-family: "Poppins";
}

#socIcoCon {
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    box-shadow: rgb(0 0 0 / 0%) 0px 1px 1px 0px;
}

#socIcoCon1 {
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    box-shadow: rgb(0 0 0 / 0%) 0px 1px 1px 0px;
}

#headerPic {
    background-image: url("../pic/header_image.png");
    background-repeat: no-repeat;
    background-position: center;
    min-height: 315px;
    max-width: 1920px;
    z-index: 0;
    position: relative;
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto;
}


.grayColBackground {
    background-color: #e9e9f5;
    float: right;
    min-height: 800px;
    margin-left: 49.96%;
    position: absolute;
    width: 50%;
    z-index: -10;
    border-left: solid 1px #0069aa;
    max-height: 150vw;
}

.twoCol {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

.leftCol {
    flex: 0 0 50%;
    max-width: 50%;
}

.rightCol {
    flex: 0 0 50%;
    max-width: 48.5%;
    z-index: 10;
    margin-left: 1.5%;
}

.portfolioIndex {
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    width: 1110px;
}

.portfolioBackground {
    width: 1110px;
    background-color: white;
    position: relative;
}
.portfolio_row {
    display: table;
    width: 97%;
    /*Optional*/
    table-layout: fixed;
    /*Optional*/
    border-spacing: 0;
    /*Optional*/
    margin-left: 1.5%;
    margin-right: 1.5%;
}

.portfolio_column {
    display: table-cell;
    padding-left: 1.5%;
    padding-right: 1.5%;
}

.portfolio_pic {
    width: 100%;
    box-shadow: 7px 10px rgb(136, 136, 136, 0.2);
    border: 1px solid gray;
}

.link_img {
    margin-bottom: 20px;
}

.link_a {
    display: flex;
    margin-left: 30%;
    text-decoration: none;
    color: black;
    align-items: center;
}

.link_a:hover {
    opacity: 0.6;
}

.link_icon {
    display: inline-block;
    width: 50px;
    height: 40px;
    padding-right: 10px;
}

.title {
    margin-bottom: 80px;
    text-align: center;
}

.portfolio_title {
    font-size: 20;
    padding-left: 5px;
    padding-top: 15px;
    text-decoration: none;
    color: black;
}

.portfolio_a {
    text-decoration: none;
}

.portfolio_column:hover {
    opacity: 0.7;
}

#loaderEtc {
    margin-top: -20px;
}

@media (max-width: 1250px) {
    .link_icon {
        width: 60px;
        height: 50px;
    }
    .portfolioBackground {
        width: 100%;
    }
    .portfolioIndex {
        width: 100% !important;
    }
    .twoCol {
        width: 97% !important;
    }
}

@media (max-width: 650px) {
    .logoIndex {
        padding-bottom: 100px;
    }
    #loaderEtc {
        margin-top: -70px;
    }
    .portfolioIndex {
        width: 100% !important;
    }
    .twoCol {
        width: 97% !important;
        height: 755px;
    }
    .grayColBackground {
        min-height: 1080px;
        max-height: 500vw;
        margin-left: 49.9%;
    }
    .portfolio_column {
        display: inline-block;
        margin-bottom: 15px;
    }
    .link_a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 120px;
        margin-left: 0%;
    }
    .link_icon {
        position: absolute;
        width: 75px;
        height: 55px;
        padding-bottom: 0px;
        padding-left: 10px;
    }
    p {
        color: #777;
        line-height: 26px;
        margin: 119px 0 20px !important;
        text-align: center;
    }
    .title {
        margin-bottom: 20px;
    }
    .link_img {
        margin-bottom: 10px !important;
    }
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #3b3b3b;
  font-size: 5px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
